#userDataContent {
  width: 96%;
  height: 27vw;
  margin-left: 0;
  margin-right: auto;
  margin-top: 2vw;
  border-bottom: 1px solid lightgray;
  /*background-color: #1c94c4;*/
}

label {
  text-align: right;
  font-size: 0.9vw;
}

.leftContent {
  float: left;
  width: 18.5vw;
  height: 24vw;
  margin-left: 0;
  border-right: 1px solid gray;
  /*background-color: #6FB1C8;*/
}

#userImage {
  width: 8vw;
  height: 8vw;
  margin-left: 5vw;
  margin-top: 5vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  object-fit: cover;
}

#username {
  font-weight: 600;
  font-size: 1.2vw;
  text-align: center;
}

h5 {
  display: inline-block;
  font-size: 1vw;
  font-weight: 700;
  margin-left: 1.5vw;
  margin-bottom: 0.8vw;
}

.form-control {
  font-size: 0.9vw;
}

.dl .col-sm-2.col-form-label {
  padding-top: 0;
}

.form-group.row {
  height: 2.5vw;
}

#userSubmit {
  float: left;
  margin-top: 1vw;
  border: none;
  margin-left: 36vw;
  color: white;
  height: 30px;
  font-weight: 600;
  font-size: 0.8vw;
  -webkit-box-shadow: 0.1vw 1vw #000;
  -moz-box-shadow: 1vw 1vw #000;
  box-shadow: 0 0.1vw 5px #888888;
  background-color: #FF8080;
}

#userSubmit:hover {
  background-color: #DE6F6F;
  text-shadow: 1px 2px #888888;
}
