* {box-sizing: border-box;}

body {font-family: Verdana, sans-serif;}

.imageContainer {
  position: absolute;
  top: 0;
  left: 1%;
}

.imageContainer img {
  width: 25.7vw;
  height: 16.8vw;
  max-height: 85%;
  display: block;
  margin-top: 6%;
  margin-bottom: auto;
  border: 3px solid white;
  border-radius: 10px;
  object-fit: cover;
  vertical-align: center;
}

.textShadow {
  position: absolute;
  top: 5%;
  left: 42%;
  width: 57%;
  height: 89%;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
}

.title {
  position: absolute;
  font-weight: 700;
  height: 54%;
  width: 100%;
  color: white;
  text-align: center;
}

.title div {
  position: absolute;
  bottom: 0;
  display: table-cell;
  vertical-align: bottom;
  font-size: 1.5vw;
}

.description {
  position: absolute;
  font-size: 0.9vw;
  height: 37%;
  max-height: 37%;
  color: white;
  text-align: center;
  top: 10.5vw;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}


