<div id="aboutContent">
  <div id="projectInfo">
    <h1>News HUB</h1>
    <p>
      The application contains news from a large number of american and british news websites. These are obtained using
      <strong>News API</strong>. On the main page there is an overview of the most popular and the latest news. User may
      create an account that will enable personalization of displayed content. The application allows logged users to
      choose up to 7 categories offered by News API, select visibility of chosen ones and search for information.
    </p>
    <p>
      Account data is stored by using a NoSQL database provided by Google - <strong>Firebase</strong>. Logging in to the
      application is possible thanks to the traditional method (email, password) and through the account on the social
      networking site <strong>Facebook</strong>, or <strong>Google</strong> account.
    </p>
    <p>
      The news on the registered user's home page is customized to his preferences. User will decide which categories
      will be displayed on the categories menu. On the side screen are available information about the weather in the
      city chosen by application developers - Krakow. This functionality is possible thanks to the use of
      <strong>Open Weather Map API</strong>.
    </p>
    <img src="assets/news-api_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/firebase_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/OWM_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/trello_logo.jpg" class="toolsImages" alt="NewsAPI">
    <img src="assets/git_logo.png" class="toolsImages" alt="NewsAPI">
    <img src="assets/github_logo.png" class="toolsImages" alt="NewsAPI">
  </div>
  <div id="squadInfo">
    <h1>Project team</h1>
    <div class="person">
      <img src="assets/zuza.jpg" class="squadPhotos" alt="Zuza">
      <h4>Zuzanna Błażejowska</h4>
    </div>
    <div class="person">
      <img src="assets/aga.jpg" class="squadPhotos" alt="Aga">
      <h4>Agnieszka Burda</h4>
    </div>
  </div>
</div>
